
:root {
        /* couleur primary  */
    --base-primary: 216;
    --color-primary-light: hsla(var(--base-primary), 100%,  94%, 1);
    --color-primary-normal: hsla(var(--base-primary), 100%, 49%, 1);
    --color-primary-darker: hsla(var(--base-primary), 100%, 39%, 1);

        /* couleur secondary */
    --base-secondary: 0;
    --color-secondary-normal: hsla(var(--base-secondary), 0%, 95%, 1);
    --color-secondary-dark: hsla(var(--base-secondary), 0%, 75%, 1);
    --color-secondary-dark-shadow1: hsla(var(--base-secondary), 0%, 75%, 0.5);
    --color-secondary-dark-shadow2: hsla(var(--base-secondary), 0%, 75%, 0.6);
    --color-secondary-darker: hsla(var(--base-secondary), 0%, 18%, 1);

        /* couleur white */
    --color-white:hsla(0, 0%, 100%, 1);

     /* PROPORTION DES FONTS */
    --scale:1.080;
  /* Don't change the lines below, you only need to change the --scale above. */
  --size-l-1: calc(1rem * var(--scale));
  --size-l-2: calc(var(--size-l-1) * var(--scale));
  --size-l-3: calc(var(--size-l-2) * var(--scale));
  --size-l-4: calc(var(--size-l-3) * var(--scale));
  --size-l-5: calc(var(--size-l-4) * var(--scale));
  --size-l-6: calc(var(--size-l-5) * var(--scale));
  --size-l-7: calc(var(--size-l-6) * var(--scale));
  --size-s-1: calc(1rem / var(--scale));
  --size-s-2: calc(var(--size-s-1) / var(--scale));
  --size-s-3: calc(var(--size-s-2) / var(--scale));

}

    /* font Raleway : static & variable */
    @font-face{
        font-family: 'Raleway';
        src: url("../fonts/raleway/Raleway-VariableFont_wght.ttf") format("truetype");
        src: url("../fonts/raleway/static/Raleway-ExtraBold.ttf") format("truetype");
        font-weight: 800;
        font-display:fallback;
    }

    @font-face{
        font-family: 'Raleway';
        src: url("../fonts/raleway/Raleway-VariableFont_wght.ttf") format("truetype");
        src: url("../fonts/raleway/static/Raleway-Bold.ttf") format("truetype");
        font-weight: 700;
        font-display: fallback;
    }

    @font-face{
        font-family: 'Raleway';
        src: url("../fonts/raleway/Raleway-VariableFont_wght.ttf") format("truetype");
        src: url("../fonts/raleway/static/Raleway-Regular.ttf") format("truetype");
        font-weight: 400;
        font-display:fallback;
    }

/* box-sizing */
* {
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: var(--size-l-1); /* font-size: 16px; */
    color: var(--color-secondary-darker);
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--color-white);
}

h1{
    font-size: var(--size-l-4); /* font-size: 22px; */
    font-weight:800;
    margin:0;
}


@media screen and (min-width:64rem){
    .container{
        max-width: 1440px;
        padding-left: 50px; /* Transformation */
        padding-right: 50px; /* Transformation */
        margin-left:auto;
        margin-right:auto;
    }
}

@media screen and (min-width:56.3125rem) and (max-width:63.9375rem){
    .container{
        max-width: 900px;
        padding-left:35px;
        padding-right: 35px;                                                                                                                                                                                                                                                                                                                                                                                               ;
        margin-left:auto;
        margin-right:auto;
        --scale:1;
    }
}


@media screen and (min-width:553px) and (max-width:56.25rem){
    .container{
        max-width: 768px;
        padding-left:30px;
        padding-right: 30px;
        margin-left:auto;
        margin-right:auto;                                                                                                                                                                                                                                                                                                                                                                                           ;
    }
}

@media screen and (max-width:34.5rem){
    .container__425{
        max-width: 552px;
        padding-left:20px;
        padding-right: 20px;
        margin-left:auto;
        margin-right:auto;
    }
}

/* HEADER xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.nav{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.nav__logo{
    flex:4;
    width: 5.875rem;
    height: auto;
    padding-top:3.125em;
    margin-bottom:3.125em;
}

.nav__logo--img{
    width:15%;
    height: auto;
}

.nav__link--one{
    flex:1;
    text-align: center;
    background-color: var(--color-white);
    border-top: 0.25em solid var(--color-primary-normal);
    padding-top: 3.25em;
    color: var(--color-primary-normal);
}

.nav__link--one:hover{
    background-color: var(--color-white);
    border-top: 0.25em solid var(--color-primary-light);
    padding-top: 3.25em;
}

.nav__link--one a:hover{
    text-decoration:none;
    color: var(--color-primary-light);
}

.nav__link--two{
    flex:1;
    text-align: center;
    padding-top: 3.50em;
    background-color: var(--color-white);
}

.nav__link--two:hover{
    background-color: var(--color-white);
    border-top: 0.25em solid var(--color-primary-normal);
    padding-top: 3.25em;
}

.nav__link--two a:hover{
    text-decoration: none;
    color: var(--color-primary-normal);
}

.nav__link--three{
    flex: 1;
    text-align: center;
    padding-top: 3.50em;
    background-color: var(--color-white);
}

.nav__link a{
    text-decoration:none;
    color: var(--color-secondary-darker);
}

.nav__link--active a{
    text-decoration:none;
    color: var(--color-primary-normal);
}

.nav__link--three a{
    text-decoration:none;
    color: var(--color-primary-normal);
    font-weight: 700;
}

.nav__link--three a:hover{
    color: var(--color-secondary-dark);
}

@media screen and (max-width:48rem){
    .nav__logo{
        flex:2;
    }
    .nav__logo--img{
        width:38%;
        height: auto;
    }
}

@media screen and (max-width:34.5rem){
    .nav{
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 1.75em;
    }

    .nav__logo{
        flex: 0 0 50%;
        align-self: center;
        padding-top: 1em;
        padding-left:1.25em;
        margin-bottom:1em;
    }

    .nav__logo--img{
        width:55%;
        height: auto;
    }

    .nav__link--one {
        flex:0 0 50%;
        order: 2;
        padding-bottom: 0.75rem;
        border-bottom: 0.25rem solid var(--color-primary-normal);
        background-color: var(--color-white);
        border-top: 0;
        padding-top: 0;
    }
    .nav__link--one a:hover{
        border-top:0;
        padding-top: 0;
        color: var(--color-primary-light);
    }

    .nav__link--one:hover{
        padding-bottom: 0.75rem;
        border-bottom: 0.25rem solid var(--color-primary-light);
        background-color: var(--color-white);
        padding-top: 0;
        border-top: 0;
    }

    .nav__link--two{
        flex:1;
        order:3;
        padding-bottom: 0.75rem;
        border-bottom: 0.25rem solid var(--color-secondary-dark);
        padding-top: 0;
        border-top: 0;
    }

    .nav__link--two a:hover{
        padding-top: 0;
        border-top: 0;
        color: var(--color-primary-normal);
    }

    .nav__link--two:hover{
        background: var(--color-white);
        padding-bottom: 0.75rem;
        border-bottom: 0.25rem solid var(--color-primary-normal);
        padding-top: 0;
        border-top:0;
    }

    .nav__link--three{
        flex: 1;
        align-self: center;
        order:1;
        text-align: right;
        padding-top:0;
        padding-right: 1.25rem;
    }

}

/* subtitle xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.subtitle{
    margin-top: 0.5em;
    margin-bottom: 1.625em;
}

/* search-bar xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.search__form{
    margin:0;
}
.search__icon{
    color: var(--color-secondary-darker);
    border-radius: 1.25em 0 0 1.25em;
    background-color: var(--color-secondary-normal);
    border: 0.1875em solid var(--color-secondary-normal);
    padding: 1em;
}

.search__input{
    padding: 1em;
    border:0.125rem solid var(--color-secondary-normal);
}

.search__button{
    color: var(--color-white);
    background-color: var(--color-primary-normal);
    font-weight:700;
    border:0.125em solid var(--color-primary-normal);
    border-radius: 0 1.25rem 1.25rem 0;
    padding: 1em;
}

@media screen and (min-width:31.9375rem){
    .search__button::before{
        content:"Rechercher";
    }
}

@media screen and (max-width:31.875rem){
    .search__input{
        position:absolute;
        width:13.625rem
    }
    .search__button{
        border-radius: 1.25rem;
        position: relative;
        left: 11.8em;
        z-index:+50;

    }
    .search__button--icon::before{
        content:"\f002";
    }
}

@media screen and (max-width:20rem){
    .search__input{
        position:absolute;
        width:12rem;
    }
    .search__button{
        border-radius: 1.25rem;
        position: relative;
        left: 10em;
        z-index:+50;
    }
}

input::placeholder{
    font-weight:700;
}

/* filtres  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.filter{
    display:flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    margin-top:2.125em;
    margin-bottom:0;
}

/* .filter__button{
    display:flex;
    align-items:center;
    justify-content: start;
    margin-left: 0.7813em;
    margin-right: 0.7813em;
} */

/* .filter__button > a{
    text-decoration: none;
    color: var(--color-secondary-darker);
    background-color: var(--color-white);
    border:0.125em solid var(--color-secondary-normal);
    border-radius: 2em;
    padding-right: 1.5625em;
} */


/* i.filter__icon{
    margin-right:0.625em;
    float:left;
    width: 2.875rem;
    height: 2.875rem;
    display:block;
    text-align:center;
    line-height: 2.875rem;
    background-color: var(--color-primary-light);
    border-radius:50%;
    box-shadow:0 0 0 0.125rem var(--color-primary-light);
    /* }  */
    
    /* xxxxxxxxxxxxxxxxxxxxxxxxxxx essai */
    
       .filter__button{
            display:flex;
            flex-flow: row wrap;
            float: left;
            width: 3.75rem;
            height: 3.75rem;
            margin: 0 0.9375rem;
            overflow: hidden;
            color: var(--color-secondary-darker);
            background-color: var(--color-white);
            border-radius: 3.125rem;
            font-size:  var(--size-l-2);  /* font-size: 20px; */
            font-weight:700;
            line-height: 3.75rem;
            cursor: pointer;
            text-align:center;
            box-shadow:0 0.625rem 0.625rem var(--color-secondary-dark-shadow1);
            transition: all 0.3s ease-out;
        }


      .filter__bloc .filter__button--money:hover{
            width: 12.5rem;
            border:0.125rem solid var(--color-secondary-normal);
        }

      .filter__bloc .filter__button--child:hover{
            width: 10rem;
            border:0.125rem solid var(--color-secondary-normal);
        }

       .filter__bloc .filter__button--heart:hover{
            width: 12.5rem;
            border:0.125rem solid var(--color-secondary-normal);
        }

        .filter__bloc .filter__button--dog:hover{
            width: 16.25rem;
            border:0.125rem solid var(--color-secondary-normal);
        }

       .filter__bloc .filter__button .filter__icon{
            font-size:  var(--size-l-3);  /* font-size: 20px; */
            color: var(--color-primary-normal);
            display: inline-block;
            height: 3.75rem;
            width: 3.75rem;
            text-align:center;
            border-radius: 3.125rem;
            line-height: 3.75rem;
            transition: all 0.3s ease-out;
        }

       .filter__bloc .filter__button:hover .filter__icon{
            background-color: var(--color-primary-light);
        }

        .filter__button .filter__icon i{
            font-size:  var(--size-l-3);  /* font-size: 20px; */
            color: var(--color-primary-normal);
            line-height: 3.75rem;
            font-weight:700;
            transition: all 0.3s ease-out;
        }

    .filter__button:hover .filter__icon i{
        background-color: var(--color-white);
    }

    .filter__button .filter__icon span{
        font-size: var(--size-l-2); /* font-size: 18px; */
        text-align:center; 
        /* font-size: 20px; */
        /* font-weight: 500; */
        line-height: 3.75rem;
        margin-left: 0.625rem;
        transition: all 0.3s ease-out;
    } 
    
    .filter__word{
        padding-left: 0.4375rem;
    }


    .filter__title{
        padding-left:0.3125em;
        font-size: var(--size-l-2); /* font-size: 18px; */
        font-weight:700;
        text-align:center;
        padding-right: 0.625em;
        margin:0;
    }

    /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

    @media screen and (max-width:48rem){
    .filter{
        flex-direction: column;
        align-items: flex-start;
    }

    .filter__bloc{
        flex-wrap:wrap;
    }
    .filter__button{
        align-items:center;
        justify-content: start;
        margin-top: 1.5626em;
        margin-left: 0;
        margin-right: 1.5626em;
    }
}

@media screen and (max-width:26.5625rem){
    .filter__button{
        margin-right: 1.5426em;
    }
}

/* info xxxxxxxxxxxxxxxxxx */
p.info{
    margin-top: 2.75em;
    margin-bottom: 2.5em;
}

i.info__icon{
    margin-right: 0.625em;
    float: left;
    width:1.5rem;
    height:1.5rem;
    display:block;
    text-align:center;
    line-height: 1.5rem;
    box-shadow:0 0 0 0.0938em var(--color-secondary-normal);
    border-radius: 50%;
    font-size: var(--size-l-1); /* font-size: 16px; */
    color: var(--color-primary-normal);
}

/* MAIN xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.main__bloc{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.hebergement{
    flex: 0 0 auto;
    width: 65%;
    background-color: var(--color-secondary-normal);
    border-radius: 1.25rem;
    padding:2.5em;
}

.hebergement > h3 {
    font-size: var(--size-l-2); /* font-size: 18px; */
    font-weight: 700;
    margin-top: 2.5em;
    margin-bottom: 0.625em;
    margin-left: 0.3125em;
}

.hebergement > h3 a{
    text-decoration: none;
    color: var(--color-secondary-darker);
}

.hebergement > h3 a:hover{
    color: var(--color-primary-normal);
}

.populaire{
    flex: 0 0 auto;
    width: 32.5%;
    background-color: var(--color-secondary-normal);
    border-radius: 1.25rem;
    padding: 2.5em;
}

.populaire > h2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.activites{
    flex: 0 0 auto;
    width: 100%;
}

@media screen and (max-width:64rem){

    .hebergement{
        order: 2;
        width: 100%;
        margin-top: 0.9375em;
    }

    .populaire{
        order: 1;
        width: 100%;
        margin-bottom: 0.9375em;
    }

    .activites{
        order: 3;
        width:100%;
    }
}



@media screen and (max-width:34.5rem){

    .hebergement{
        background-color: var(--color-white);
        padding: 0;
    }

    .populaire{
        border-radius:0;
        padding-left:0;
        padding-right: 0;
        margin-right: 0;
        margin-left:0;
    }
}

.flex{
    display:flex;
    flex-flow: row wrap;
}

.big-title__card{
    /* font-size: 22px; */
    font-size: var(--size-l-4);
    font-weight: 700;
    margin-top:0.625em;
    margin-bottom: 1.75em;
}

.activites__big-title{
    margin-top: 3.125em;

}
 /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

 .hebergement__bloc{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    --gap:1.5em; /* gutter for flexbox Safari */
    margin-left: calc(-1 * var(--gap));
    margin-bottom: calc(-1 * var(--gap));
}

@media screen and (max-width:34.5rem){
    .hebergement__bloc{
        flex-direction:column;
        --gap:0;
    }
}

.populaire__bloc{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    --gap:1.5em; /* gutter for flexbox Safari */
    margin-bottom: calc(-1 * var(--gap));
}

.activites__bloc{
    justify-content: space-between;
}

/* all card xxxxxxxxxxxxxxxxxxx */
.card{
    background-color: var(--color-white);
    border-radius: 1.25em;
    box-shadow: 0.125rem 0.125rem 0.875rem 0.375rem var(--color-secondary-dark-shadow2),
    -0.125rem -0.125rem 0.875rem 0.375rem var(--color-secondary-dark-shadow1);
    cursor: pointer;
    transition: 0.4s;
}

.card:hover{
    transform: scale(0.9, 0.9);
    box-shadow: 0.125rem 0.125rem 0.875rem 0.75rem var(--color-secondary-dark-shadow2),
      -0.125rem -0.125rem 0.875rem 0.75rem var(--color-secondary-dark-shadow1);
}

.card__title{
    font-size: var(--size-l-1); /* font-size:16px; */
    font-weight: 700;
    line-height: 1.3;
    margin:0;
}

.card__price{
    font-size: var(--size-s-2); /* font-size:14px; */
    font-weight: 400;
    margin:0;
}

/* Stars cards xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.card__stars{
    float:left;
    border: none;
    margin:0;
    padding:0;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
follow these rules. Every browser that supports :checked also supports :not(), so
it doesn’t make the test unnecessarily selective */
.card__stars:not(:checked) > input {
    position: absolute;
    clip: rect(0,0,0,0);
}

.card__stars:not(:checked) > label {
    float: right;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: var(--size-s-3); /* font-size: 12px; */
    line-height: 1.2;
    color: var(--color-secondary-normal);
}

.card__stars:not(:checked) > label:before {
    content: "\f005";
}

.card__stars > input:checked ~ label {
    color: var(--color-primary-normal);
}

.card__stars:not(:checked) > label:hover,
.card__stars:not(:checked) > label:hover ~ label {
    color: var(--color-secondary-dark);
}

.card__stars > input:checked + label:hover,
.card__stars > input:checked + label:hover ~ label,
.card__stars > input:checked ~ label:hover,
.card__stars > input:checked ~ label:hover ~ label,
.card__stars > label:hover ~ input:checked ~ label {
    color: var(--color-primary-darker);
}

.card__stars > label:active {
    position: relative;
}



/* Cards Hébergement à Marseille xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.hebergement__card{
    flex: auto;
    width:29.33%;
    border: 0.25em solid var(--color-white);
    margin-left: var(--gap);
    margin-bottom: var(--gap);
}

@media screen and (max-width:48rem){
    .hebergement__card{
        width: 44%;
    }
}

@media screen and (max-width:37.5rem){
    .hebergement__card{
        width: 100%;
        margin-top:0.5rem;
        margin-bottom:0.5rem;
    }
}

.hebergement__image{
    border-radius: 1.25em 1.25em 0 0;
    width:100%;
    height: 7.5rem;
    object-fit:cover;
}

.hebergement__body{
    margin-top: 0.125em;
    margin-left: 1em;
    margin-right: 1em;
}

.hebergement__stars{
    padding-top: 0.375em;
}

/* Cards les plus populaires xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.populaire__card{
    flex: 0 0 auto;
    display:flex;
    height:9.0625rem;
    border:0.25em solid var(--color-white);
    margin-bottom: var(--gap);
}

.populaire__image{
    /* height:100%;  delete this line 06/11/2020 */
    width:8.3125rem;
    flex: 0 0 auto; /* last modification 06:11/2020 */
    object-fit: cover;
    border-radius: 1.25em 0 0 1.25em;
}


@media screen and (max-width:82.25rem){
    .populaire__image{
        flex: 0 0 auto;  /* last modification 06:11/2020 */
        width:6rem;
    }
}
@media screen and (max-width:64rem){
    .populaire__image{
        width:14rem; 
        flex:0 0 auto; /* last modification 06:11/2020 */
    }
}

@media screen and (max-width:26.5625rem){
    .populaire__image{
        flex: 0 0 auto; /* last modification 06:11/2020 */
        width:8.3125rem;
    }
}

.populaire__body{
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.75em;
}

.populaire__stars{
    padding-top: 2.75rem;
}

/* Cards activités à Marseille XXXXXXXXXXXXXXXXXX*/

.activites__card--one{
    flex: 0 0 25%;
}

.activites__card--four{
    flex: 0 0 25%;
}

.activites__group{
    flex-direction: column;
    justify-content: space-between;
}

.activites__card{
    flex: 0 0 auto;
    width: 305px;
}

.activites__image{
    border-radius: 1.25rem 1.25rem 0 0;
    width:100%;
    object-fit: cover;
}

.activites__image--one{
    height: 24.375rem;
}

.activites__image--two{
    height: 11.25rem;
}

.activites__image--three{
    height: 6.875rem;
}

.activites__image--four{
    height: 24.375rem;
}

.activites__image--five{
    height: 8.75rem;
}

.activites__image--six{
    height: 9.375rem;
}

.activites__body{
    margin-top: 1.5em;
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-bottom: 1.25rem;
}

@media screen and (max-width:768px){
    .activites__card{
        width: 336px; 
    }
    .activites__card--one{
        margin-bottom: 1rem;
    }
    .activites__card--three{
        margin-bottom: 1rem;
   }
   .activites__card--four{
       margin-top: 1rem;
    }
    .activites__card--five{
        margin-top: 1rem;
    }
}

@media screen and (max-width:46.25rem){
    .activites__card{
        width: 100%;
        margin-top:0.625rem;
        margin-bottom: 0.625rem;
    }

    .activites__group{
        flex-direction: row;
    }

    .activites__image--one,
    .activites__image--two,
    .activites__image--three,
    .activites__image--four,
    .activites__image--five,
    .activites__image--six{
        height: 9.375rem;
    }
}

/* FOOTER XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.full-page{
    padding-top: 2.1875em;
    padding-bottom: 2.875em;
    background-color: var(--color-secondary-normal);
    width:100%;
    margin:0;
    margin-top: 3.75em;
}

.blocs{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.bloc__unit{
    flex: 0 0 auto;
    width:33.33%;
}

.bloc__unit h2 {
    font-size: var(--size-l-3);  /* font-size: 18px; */
    font-weight: 800;
    margin-bottom:0.5625em;
}

.bloc__item a{
    text-decoration: none;
    line-height: 1.95;
    color: var(--color-secondary-darker);
}

.bloc__item a:hover{
    color: var(--color-primary-normal);
}

@media screen and (max-width:48rem){
    .bloc__unit{
        width:100%;
    }
}

/* sloves sticky problem Mobile and Tablet */
@media(hover: hover)and (pointer: hover){
    .card:hover{
        transform: scale(0.9, 0.9);
        box-shadow: 0.125rem 0.125rem 0.875rem 0.75rem var(--color-secondary-dark-shadow2),
          -0.125rem -0.125rem 0.875rem 0.75rem var(--color-secondary-dark-shadow1);
    }
    .bloc__item a:hover{
        color: var(--color-primary-normal);
    }
}
@media(-moz-touch-enabled: 1){
    .card:hover{
        transform: scale(0.9, 0.9);
        box-shadow: 0.125rem 0.125rem 0.875rem 0.75rem var(--color-secondary-dark-shadow2),
          -0.125rem -0.125rem 0.875rem 0.75rem var(--color-secondary-dark-shadow1);
    }
    .bloc__item a:hover{
        color: var(--color-primary-normal);
    }
}
